{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container py-5">
    {% include 'partials/_messages.html' %}

    <div class="jumbotron">
        <h2>Account Profile</h2>
    </div>


    <div class="row">

        <div class="col-lg-6">
            <div class="card mb-4" id="headings">
                <div class="card-header">
                    User Details
                    <span class="float-right"><a href="">Update</a></span>
                </div>
                <div class="card-body">

                    <h4 class="mb-3">{{ request.user.get_full_name }}</h4>

                    <p>
                        <strong>Username: </strong>{{ request.user.username }} <br>
                        <strong>First name: </strong>{{ request.user.first_name }} <br>
                        <strong>Last name: </strong>{{ request.user.last_name }} <br>
                        <strong>Email: </strong>{{ request.user.email }} <br>
                        <strong>Phone: </strong>{{ request.user.phone_number }} <br>
                    </p>

                    <hr>

                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card mb-4" id="tables">
                <div class="card-header">Orders</div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Item</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if orders %}
                        {% for order in orders %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ order.product.title }}</td>
                            <td>
                                {{ order.status }}
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td class="text-danger" colspan="3">You've not Ordered anything yet.</td>
                        </tr>
                        {% endif %}


                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>


</div>
{% endblock content %}