{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container py-5">

    <div class="jumbotron">
        <h1>{{ request.user.get_full_name }}</h1>
        <p><strong>Email:</strong> {{ request.user.email }}</p>
        <p><strong>Username:</strong> {{ request.user.username }}</p>
        <p><strong>Phone:</strong> {{ request.user.phone_number }}</p>
        <p>
            <a class="btn btn-outline-primary btn-large" href="#">Update User »</a>
        </p>
        {% include 'partials/_messages.html' %}
    </div>


    <div class="row">

        <div class="col-lg-6">
            <div class="card mb-4" id="headings">
                <div class="card-header">
                    Addresses
                    <span class="float-right">
                        <a href="{% url 'add_address' %}">Add Address</a>
                    </span>
                </div>
                <div class="card-body">
                    {% if addresses %}
                    {% for address in addresses %}
                    <h4 class="mb-3">Address {{ forloop.counter }}</h4>

                    <span class="float-right">
                        <a href="{% url 'remove_address' address.id %}">
                            <i class="fas fa-trash-alt small text-muted"></i>
                        </a>
                    </span>

                    <p>
                        <strong>State : </strong>&nbsp&nbsp{{ address.state | capfirst }}<br>
                        <strong>District : </strong>&nbsp&nbsp{{ address.district | capfirst }}<br>
                        <strong>Locality : </strong>&nbsp&nbsp{{ address.locality | capfirst }}<br>
                        <strong>PIN Code : </strong>&nbsp&nbsp{{ address.pin_code }}<br>
                        <strong>Phone : </strong>&nbsp&nbsp{{ address.phone_number }}<br>
                    </p>

                    <hr>
                    {% endfor %}
                    {% else %}
                    <div class="text-danger">
                        Address not Added.
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card mb-4" id="tables">
                <div class="card-header">Orders</div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Order Id</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if orders %}
                        {% for order in orders %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href="">#{{ order.order_id }}</a>
                            </td>
                            <td>{{ order.datetime_of_payment|naturalday }}</td>
                            <td>
                                <a href="" class="btn btn-primary btn-sm signup-button">View</a>
                                <a href="" class="btn btn-outline-primary btn-sm signup-button">Invoice</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td class="text-danger" colspan="3">You've not Ordered anything yet.</td>
                        </tr>
                        {% endif %}


                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>


</div>
{% endblock content %}