{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container py-3">
    <div class="col-md-8 offset-2">

        <h1 class="text-center mb-1">Create Your Account</h1>


        <div class="card mb-4" id="forms">
            <div class="card-header">
                <small>
                    With this account, you can save time during checkout, access your shopping bag from any device and
                    view your order history.
                </small>
            </div>

            {% include 'partials/_messages.html' %}

            <div class="card-body">

                <form method="post" action="">
                    <fieldset>
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            <small class="text-danger">{{ field.errors|striptags }}</small>
                        </div>
                        {% endfor %}
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </fieldset>

                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger alert-dismissible fade show my-3" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                    {% endif %}
                </form>
                <hr>
                Already have an account? <a href="{% url 'account:login' %}">Log In </a>

            </div>
        </div>

    </div>
</div>
{% endblock content %}