{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container">

    <!-- HERO SECTION-->
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">My Wishlist</h1>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                            <li class="breadcrumb-item"><a href="{% url 'products:home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                        </ol>
                    </nav>
                </div>
            </div>
            {% include 'partials/_messages.html' %}
        </div>
    </section>

    {% if wishlist %}
    <section class="py-5">
        <div class="row">
            <div class="col-lg-10 mb-lg-0">
                <!-- CART TABLE-->
                <div class="table-responsive mb-4">
                    <table class="table">
                        <thead class="bg-light">
                        <tr>
                            <th class="border-0" scope="col">#</th>
                            <th class="border-0" scope="col">
                                <strong class="text-small text-uppercase">Product</strong>
                            </th>
                            <th class="border-0" scope="col">
                                <strong class="text-small text-uppercase">Brand</strong>
                            </th>
                            <th class="border-0" scope="col">
                                <strong class="text-small text-uppercase">Price</strong>
                            </th>
                            <th class="border-0" scope="col">
                                <strong class="text-small text-uppercase">Add to cart</strong>
                            </th>
                            <th class="border-0" scope="col">
                                <strong class="text-small text-uppercase">Remove</strong>
                            </th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for item in wishlist %}
                        <tr>
                            <td class="align-middle border-0">
                                <strong class="mb-0">{{ forloop.counter }}</strong>
                            </td>
                            <th class="pl-0 border-0" scope="row">
                                <div class="media align-items-center">

                                    <a class="reset-anchor d-block animsition-link" href="{{ item.product.get_url }}">
                                        <img src="{{ item.product.image.url }}" alt="{{cart_product.title}}" width="70"/>
                                    </a>

                                    <div class="media-body ml-3">
                                        <strong class="h6">
                                            <a class="reset-anchor animsition-link" href="{{ item.product.get_url }}">
                                                {{ item.product.title }}
                                            </a>
                                        </strong>
                                    </div>
                                </div>
                            </th>
                            <td class="align-middle border-0">
                                <p class="mb-0 small">{{ item.product.brand }}</p>
                            </td>
                            <td class="align-middle border-0">
                                <p class="mb-0 small">{{ item.product.price }} &#x20B9</p>
                            </td>
                            <td class="align-middle border-0">
                                <form action="{% url 'products:add_to_cart' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="prod_id" value="{{ item.product.id }}" id="product_id">
                                    <button type="submit" class="btn">
                                        <i class="fas fa-cart-arrow-down text-muted"></i>
                                    </button>
                                </form>
                            </td>
                            <td class="align-middle border-0">
                                <a class="reset-anchor" href="{% url 'account:del_wishlist' item.product.id %}">
                                    <i class="fas fa-trash-alt small text-muted"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- CART NAV-->
                <div class="bg-light px-4 py-3">
                    <div class="row align-items-center text-center">
                        <div class="col-md-6 mb-3 mb-md-0 text-md-left">
                            <a class="btn btn-link p-0 text-dark btn-sm" href="">
                                <i class="fas fa-long-arrow-alt-left mr-2"></i>
                                Continue shopping
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    {% else %}

    <div class="text-center py-5">
        <h3 class="mb-3">Your wishlist is empty.</h3>
        <a href="{% url 'products:category' %}"><i class="fas fa-long-arrow-alt-left mr-2"> </i>Continue shopping</a>
    </div>

    {% endif %}

</div>
{% endblock content %}