<script>
    $(document).ready(function() {
        console.log("function ready");
        $(".addWishlist").click(function() {
            console.log("function called");
            var _prodId = $(this).attr('data-id');
            var _url = '{% url "add_wishlist" %}';
            var _redirectUrl = '{% url "wishlist" %}';

            $.ajax({
                url:_url,
                data:{
                    prod_id:_prodId
                },
                dataType:'json',
                success:function(res){
                    if((res.data) == 1 ){
                        window.location = _redirectUrl;
                    } else {
                        alert("item already in your wishlist..!");
                    }
                }
            })
        });
    });
</script>