{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <!-- HERO SECTION-->
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">Shop - {{ category.title }}</h1>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                            <li class="breadcrumb-item"><a href="{% url 'products:home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'products:category' %}">Category</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{category.title}}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container p-0">
            <div class="row">
                <!-- SHOP SIDEBAR-->
                <div class="col-lg-3 order-2 order-lg-1">
                    <h5 class="text-uppercase mb-4">Categories</h5>

                    {% if categories_obj %}
                    {% for cat in categories_obj %}
                    <a href="{{ cat.get_url }}">
                        <div class="py-2 px-4 {% if category == cat %} bg-dark text-white {% else %}bg-light{% endif %} mb-3">
                            <strong class="small text-uppercase font-weight-bold">{{cat.title}}</strong>
                        </div>
                    </a>
                    {% endfor %}
                    {% endif %}
                    <hr>
                </div>

                <!-- SHOP LISTING-->
                <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                    <div class="row mb-3 align-items-center">
                        <div class="col-lg-6 mb-2 mb-lg-0">
                            <p class="text-small text-muted mb-0">
                                Showing Products {{ page_obj.start_index }} to {{ page_obj.end_index }}
                            </p>
                        </div>
                        <!-- Button trigger modal -->
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center justify-content-lg-end mb-0">
                                {% if cat_id %}
                                    <form>
                                        <input type="hidden" value="1" name="clear_filter">
                                        <button class="btn btn-primary mx-2" type="submit">Clear filter</button>
                                    </form>
                                {% endif %}
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#exampleModalCenter">
                                    Filter
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        {% if page_obj %}
                        {% for product in page_obj %}

                        <!-- PRODUCT-->
                        <div class="col-lg-4 col-sm-6">
                            <div class="product text-center">
                                <div class="mb-3 position-relative">

                                    <div class="badge text-white badge-"></div>

                                    <a class="d-block" href="{{ product.get_url }}">
                                        {% if product.image %}
                                        <img class="img-fluid w-100" src="{{product.image.url}}"
                                             alt="{{product.title}}">
                                        {% else %}
                                        <img class="img-fluid w-100" src="{% static 'img/product-1.jpg' %}"
                                             alt="{{product.title}}">
                                        {% endif %}
                                    </a>

                                    <div class="product-overlay">
                                        <ul class="mb-0 list-inline">
                                            <li class="list-inline-item m-0 p-0">
                                                <a class="btn btn-sm btn-outline-dark addWishlist"
                                                   data-id="{{ product.id }}">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item m-0 p-0">
                                                {% comment %}
                                                <a class="btn btn-sm btn-dark" href="{% url 'products:add-to-cart' %}">
                                                    Add to cart
                                                </a>
                                                {% endcomment %}

                                                <form action="{% url 'products:add_to_cart' %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="prod_id" value="{{product.id}}"
                                                           id="product_id">
                                                    <button type="submit" class="btn btn-sm btn-dark">
                                                        Add to Cart
                                                    </button>
                                                </form>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <h6><a class="reset-anchor" href="#">{{product.title}}</a>
                                </h6>
                                <p class="small text-muted">{{product.price}} &#x20B9</p>
                            </div>
                        </div>

                        {% endfor %}
                        {% endif %}
                    </div>

                    <hr>
                    <!-- PAGINATION-->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;
                                    Previous</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="">&laquo; Previous</a>
                            </li>
                            {% endif %}

                            {% for page_number in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_obj.number == page_number %} active {% endif %}"><a
                                    class="page-link" href="?page={{page_number}}">{{page_number}}</a></li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="">Next &raquo;</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Filter products</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="modal-body">

                    <table class="m-auto" cellpadding="10">
                        <tr class="border">
                            <td class="border">
                                <strong class="small font-weight-bold text-uppercase">Price range&nbsp:</strong>
                            </td>
                            <td>
                                <div class="d-flex mb-2">
                                    <label>Min&nbsp:</label>
                                    <input type="number" class="form-control" name="min" value="{{min_price}}"
                                           style="width: 50%; margin-left: 5px; font-size: 12px">
                                </div>
                                <div class="d-flex">
                                    <label>Max&nbsp:</label>
                                    <input type="number" class="form-control" name="max" value="{{max_price}}"
                                           style="width: 50%; margin-left: 5px; font-size: 12px">
                                </div>
                            </td>
                        </tr>
                        <tr class="border">
                            <td class="border">
                                <strong class="small font-weight-bold text-uppercase">Brands&nbsp:</strong>
                            </td>
                            <td>
                                {% if selected_brands %}
                                {% for brand in brands %}
                                <div class="custom-control custom-checkbox mb-1">
                                    <input class="custom-control-input filter-checkbox" id="id2-{{ brand.name }}"
                                           value="{{ brand.name }}" type="checkbox" name="brands"
                                           {% if brand.name in selected_brands %} checked {% endif %}>
                                    <label class="custom-control-label text-small" for="id2-{{ brand.name }}">
                                        {{ brand.name }}
                                    </label>
                                </div>

                                {% endfor %}
                                {% else %}
                                {% for brand in brands %}

                                <div class="custom-control custom-checkbox mb-1">
                                    <input class="custom-control-input filter-checkbox" id="id-{{ brand.name }}"
                                           value="{{ brand.name }}" type="checkbox" name="brands">
                                    <label class="custom-control-label text-small" for="id-{{ brand.name }}">
                                        {{ brand.name }}
                                    </label>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="border">
                            <td class="border">
                                <strong class="small font-weight-bold text-uppercase">Sort by&nbsp:</strong>
                            </td>
                            <td>
                                <select class="selectpicker ml-auto" name="sort" data-style="bs-select-form-control">
                                    {% if sort_method %}
                                    <option value="0">Default sorting</option>
                                    <option value="1" {% if sort_method == '1' %} selected {% endif %}>
                                        Price: Low to High
                                    </option>
                                    <option value="2" {% if sort_method == '2' %} selected {% endif %}>
                                        Price: High to Low
                                    </option>
                                    {% else %}
                                    <option value="0">Default sorting</option>
                                    <option value="1">Price: Low to High</option>
                                    <option value="2">Price: High to Low</option>
                                    {% endif %}
                                </select>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
{% include 'partials/add_wishlist.html' %}
{% endblock script %}