{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container">

    <!-- HERO SECTION-->
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">My Orders list</h1>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                            <li class="breadcrumb-item"><a href="{% url 'products:home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Order</li>
                        </ol>
                    </nav>
                </div>
            </div>
            {% include 'partials/_messages.html' %}
        </div>
    </section>

    {% if orders %}
    <section class="py-5">
        <div class="row">
            <div class="col-lg-10 mb-lg-0 m-auto">
                <!-- CART TABLE-->
                <div class="table-responsive mb-4">
                    <table class="table">
                        <thead class="bg-light">
                        <tr>
                            <th class="border-0" scope="col">#</th>
                            <th class="border-0" scope="col">
                                <strong class="text-small text-uppercase">Order Id</strong>
                            </th>
                            <th class="border-0" scope="col">
                                <strong class="text-small text-uppercase">Date</strong>
                            </th>
                            <th class="border-0" scope="col">
                                <strong class="text-small text-uppercase">Status</strong>
                            </th>
                            <th class="border-0" scope="col">
                                <strong class="text-small text-uppercase">Total</strong>
                            </th>
                            <th class="border-0" scope="col">
                                <strong class="text-small text-uppercase">Action</strong>
                            </th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for order in orders %}
                        <tr>
                            <td class="align-middle border-0">
                                <strong class="mb-0">{{ forloop.counter }}</strong>
                            </td>
                            <td class="align-middle border-0">
                                <a href="{% url 'order_detail' order.id %}">#{{ order.order_id }}</a>
                            </td>
                            <td class="align-middle border-0">
                                <p class="mb-0 small">{{ order.datetime_of_payment|naturalday }}</p>
                            </td>
                            <td class="align-middle border-0">
                                {% if order.order_status == 1 %}
                                <p class="mb-0 small text-success">Order Confirmed</p>
                                {% elif order.order_status == 1 %}
                                <p class="mb-0 small text-success">Shipped</p>
                                {% elif order.order_status == 1 %}
                                <p class="mb-0 small text-success">Delivered</p>
                                {% endif %}
                            </td>
                            <td class="align-middle border-0">
                                <p class="mb-0 small">&#x20B9 {{ order.grand_total|intcomma }}</p>
                            </td>
                            <td class="align-middle border-0">
                                <a href="{% url 'order_detail' order.id %}"
                                   class="btn btn-primary btn-sm signup-button">View</a>
                                <a href="" class="btn btn-primary btn-sm signup-button">Invoice</a>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- CART NAV-->
                <div class="bg-light px-4 py-3">
                    <div class="row align-items-center text-center">
                        <div class="col-md-6 mb-3 mb-md-0 text-md-left">
                            <a class="btn btn-link p-0 text-dark btn-sm" href="">
                                <i class="fas fa-long-arrow-alt-left mr-2"></i>
                                Continue shopping
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    {% else %}

    <div class="text-center py-5">
        <h3 class="mb-3">Your Order list is empty.</h3>
        <a href="{% url 'products:category' %}"><i class="fas fa-long-arrow-alt-left mr-2"> </i>Continue shopping</a>
    </div>

    {% endif %}

</div>
{% endblock content %}